salloooon.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3b22bac-19c4-4913-bf5c-d9e84e40c196",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "8d81cc1f-151b-4337-aaea-c5514a467142",
              "leftValue": "={{ $json.body.message.sender_type }}",
              "rightValue": "agent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2464,
        1168
      ],
      "id": "f4699789-0796-4c3c-9563-adbce9122856",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of items) {\n  // Safe access to data structure\n  const body = item.json.body || {};\n  const data = body.data || {};\n  const key = data.key || {};\n  const message = data.message || {};\n\n  // 1. Logic to get the JID with 's.whatsapp.net'\n  let correctJid = '';\n  \n  if (key.remoteJid && key.remoteJid.includes('s.whatsapp.net')) {\n    correctJid = key.remoteJid;\n  } else if (key.remoteJidAlt && key.remoteJidAlt.includes('s.whatsapp.net')) {\n    correctJid = key.remoteJidAlt;\n  } else {\n    // Fallback if neither has it, default to remoteJid\n    correctJid = key.remoteJid || '';\n  }\n\n  // 2. Extract the phone number (everything before the @)\n  const phoneNumber = correctJid.split('@')[0];\n\n  // 3. Handle Timestamp (Standard JS, convert Seconds to Date + 3 Hours for UTC+3)\n  let formattedTime = '';\n  if (data.messageTimestamp) {\n    // Timestamp is in seconds, multiply by 1000 for milliseconds\n    const date = new Date(data.messageTimestamp * 1000);\n    // Add 3 hours in milliseconds (3 * 60 * 60 * 1000 = 10800000)\n    const utc3Date = new Date(date.getTime() + 10800000);\n    // Convert to ISO string for consistency\n    formattedTime = utc3Date.toISOString().replace('T', ' ').replace('Z', '');\n  }\n\n  // 4. Construct the Output JSON\n  item.json = {\n    SenderJid: correctJid,\n    SenderName: data.pushName,\n    Timestamp: formattedTime,\n    MsgType: data.messageType,\n    Msg: message.conversation,\n    Media: message.base64, // Will be undefined if not present, which is fine\n    Instance: body.instance,\n    Key: body.apikey,\n    phonenumber: phoneNumber\n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1200
      ],
      "id": "0bbeb940-9c6f-4480-b7fe-07327e44b50e",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fceb1bb-c0de-4e6c-880f-062704739f1e",
              "name": "SenderJid",
              "value": "={{ $('Code in JavaScript6').item.json.SenderJid }}",
              "type": "string"
            },
            {
              "id": "04ac662e-9deb-4d63-ac8f-cafab77e0f7b",
              "name": "SenderName",
              "value": "={{ $('Code in JavaScript6').item.json.SenderName }}",
              "type": "string"
            },
            {
              "id": "f812ad17-d60f-4c5d-b1d4-7820238fe0e3",
              "name": "Timestamp",
              "value": "={{$('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').setZone('UTC+2') }}",
              "type": "string"
            },
            {
              "id": "3c3fdb3c-de14-4bcc-8d9a-68cc2ed0d1c8",
              "name": "MsgType",
              "value": "={{ $('Code in JavaScript6').item.json.MsgType }}",
              "type": "string"
            },
            {
              "id": "e0595c23-53c7-4eb9-aea2-4de3fa76e7db",
              "name": "Msg",
              "value": "={{ $('Webhook').item.json.body?.data?.contextInfo?.externalAdReply?.greetingMessageBody || $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5f1ca696-9ad5-4f22-accd-435a5c8c6ced",
              "name": "Media",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "eb5b8516-cc5f-43b3-a578-2d8b15b7b51d",
              "name": "Instance",
              "value": "={{ $('Code in JavaScript6').item.json.Instance }}",
              "type": "string"
            },
            {
              "id": "8c6ec75c-45c6-44de-a860-84baa4832602",
              "name": "Key",
              "value": "={{ $('Code in JavaScript6').item.json.Key }}",
              "type": "string"
            },
            {
              "id": "08edec4e-32c4-466d-8d66-261a8ede1abc",
              "name": "phonenumber",
              "value": "={{ $('Code in JavaScript6').item.json.phonenumber }}",
              "type": "string"
            },
            {
              "id": "d05f492e-26b3-49e9-b366-96947a6906bc",
              "name": "message_platform_id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "56f0bdfb-bc93-43e9-9230-f4a24b9594b6",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "d65150c6-4c63-4b37-b9f6-befcded648c6",
              "name": "platform_user_id",
              "value": "={{ $('Code in JavaScript6').item.json.SenderJid }}",
              "type": "string"
            },
            {
              "id": "5d001d0f-4c7e-42de-bd22-2316d7e6b81c",
              "name": "valrables",
              "value": "={{ $json.variables }}",
              "type": "object"
            },
            {
              "id": "90b066dd-8ee7-4976-836f-48f44e0cb86b",
              "name": "image_sets",
              "value": "={{ $json.imageSets.map(set => set.name).join(', ') }}",
              "type": "string"
            },
            {
              "id": "651518d7-67d7-4d14-a53e-ebb85303b642",
              "name": "active_products",
              "value": "={{ $json.active_products }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1200
      ],
      "id": "f7e5e716-78f7-48f9-9c78-cd230555264a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5484e68b-7fb5-4d24-9df7-d34c575fc807",
              "leftValue": "={{ $('find contact').item.json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        1232
      ],
      "id": "2d8de4f8-6ed9-4663-9311-bf863ceaaa2d",
      "name": "If19"
    },
    {
      "parameters": {
        "tableId": "Client",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Edit Fields').first().json.platform }}"
            },
            {
              "fieldId": "platform_user_id",
              "fieldValue": "={{ $('Edit Fields').first().json.platform_user_id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Edit Fields').first().json.SenderName ?? '' }}\n"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Edit Fields').first().json.phonenumber }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        1088
      ],
      "id": "6c7de319-2c54-4b1f-b48e-8412712a50e1",
      "name": "Supabase20",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2be1936-4832-4628-b97a-80d0573e3091",
              "name": "contact_uuid",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f79e3551-5df7-41ad-978e-185cf81894e1",
              "name": "ai_enabled",
              "value": "={{ $json.ai_enabled }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1248
      ],
      "id": "ece767cb-20f1-4bd1-9504-5ec94c93b34b",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "keyValue": "={{ $json.SenderJid }}"
            },
            {
              "keyName": "platform",
              "keyValue": "={{ $json.platform }}"
            },
            {
              "keyName": "channel_id",
              "keyValue": "={{ $('Execute a SQL query').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        1232
      ],
      "id": "9b07d95e-c7fd-409b-a5c6-7c72249ac14f",
      "name": "find contact",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f7206c20-c422-47d0-a11c-437e11473683",
                    "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9e64d812-9b40-494f-9c7c-eafb670f18e7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c2c4a950-10f3-4d58-84a8-dba2dfc64741",
                    "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80a51bdb-266a-4c52-b436-a488476c0803",
                    "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
                    "rightValue": "=documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "489dc6f5-fc53-4053-99ef-8bb07f79c48d",
                    "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
                    "rightValue": "=locationMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Location"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1280,
        1152
      ],
      "id": "1fea493e-9558-40d2-93ea-65dd8ef377cc",
      "name": "Switch"
    },
    {
      "parameters": {
        "tableId": "queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender_id",
              "fieldValue": "={{ $('Edit Fields').item.json.SenderJid }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Edit Fields').item.json.Msg }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3424,
        752
      ],
      "id": "9b569b2e-2efe-494a-9038-56170f3a825b",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "user"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Edit Fields').first().json.Msg }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "message_platform_id",
              "fieldValue": "={{ $('Edit Fields').first().json.message_platform_id }}"
            },
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1888,
        736
      ],
      "id": "d98e7c30-ead0-4baa-952e-fe974f3359f4",
      "name": "Supabase25",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base64",
        "options": {
          "fileName": "={{ $('Edit Fields').item.json.phonenumber }}-{{ $('Webhook').item.json.body.data.messageTimestamp }}.ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2192,
        1072
      ],
      "id": "5fa6b903-22e3-498d-ac48-8881d159f7be",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=base64",
        "options": {
          "fileName": "={{ $('Edit Fields').item.json.phonenumber }}-{{ $('Webhook').item.json.body.data.messageTimestamp }}.{{ $('Webhook').item.json.body.data.message.imageMessage.mimetype.split('/')[1] }}",
          "mimeType": "={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2112,
        1280
      ],
      "id": "b73fa4da-7b05-494b-8722-fb151f10ce4b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_enabled",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "c346545f-c70a-434f-9d4e-175df90dd3b4",
      "name": "Update a row3",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.Msg }}",
                    "rightValue": "={{ $json.variables[\"bot-off\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36398d98-f06f-4098-9eff-3905924f5550"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "off"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "416900dc-700e-413c-b56a-d39aa809741c",
                    "leftValue": "={{ $('Code in JavaScript').item.json.Msg }}",
                    "rightValue": "={{ $json.variables[\"bot-on\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "on"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1520,
        592
      ],
      "id": "969bda6d-349a-4942-b9c2-3d0010f8b474",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "condition": "eq",
              "keyValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_enabled",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        544
      ],
      "id": "7d68e221-4335-4371-bb6a-50b64f481c03",
      "name": "Update a row4",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5484e68b-7fb5-4d24-9df7-d34c575fc807",
              "leftValue": "={{ $('Supabase101').item.json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        96
      ],
      "id": "3610f090-9e6d-4978-8240-96c2177f0f12",
      "name": "If14"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "keyValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            },
            {
              "keyName": "channel_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        96
      ],
      "id": "506d502b-79e3-46be-b8b0-14a3f65bc2b6",
      "name": "Supabase101",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "keyValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            },
            {
              "keyName": "channel_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -784,
        448
      ],
      "id": "4c7f0e89-c917-4c71-93a9-08e72306fb9e",
      "name": "Supabase102",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5484e68b-7fb5-4d24-9df7-d34c575fc807",
              "leftValue": "={{ $('Supabase102').item.json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        448
      ],
      "id": "a82d3af0-124a-4128-9bfe-e4b3f812e232",
      "name": "If15"
    },
    {
      "parameters": {
        "tableId": "Client",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platform",
              "fieldValue": "=whatsapp"
            },
            {
              "fieldId": "platform_user_id",
              "fieldValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            },
            {
              "fieldId": "ai_enabled",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a79d058d-dc62-437a-994d-c63272c2ac89",
      "name": "Supabase17",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Client",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platform",
              "fieldValue": "=whatsapp"
            },
            {
              "fieldId": "platform_user_id",
              "fieldValue": "={{ $('Code in JavaScript').item.json.SenderJid }}"
            },
            {
              "fieldId": "ai_enabled",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        368
      ],
      "id": "4a50cbd8-fd83-40b0-ad9e-3b671ffa1e59",
      "name": "Supabase18",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of items) {\n  // Safe access to data structure\n  const body = item.json.body || {};\n  const data = body.data || {};\n  const key = data.key || {};\n  const message = data.message || {};\n\n  // 1. Logic to get the JID with 's.whatsapp.net'\n  let correctJid = '';\n  \n  if (key.remoteJid && key.remoteJid.includes('s.whatsapp.net')) {\n    correctJid = key.remoteJid;\n  } else if (key.remoteJidAlt && key.remoteJidAlt.includes('s.whatsapp.net')) {\n    correctJid = key.remoteJidAlt;\n  } else {\n    // Fallback if neither has it, default to remoteJid\n    correctJid = key.remoteJid || '';\n  }\n\n  // 2. Extract the phone number (everything before the @)\n  const phoneNumber = correctJid.split('@')[0];\n\n  // 3. Handle Timestamp (Standard JS, convert Seconds to Date + 3 Hours for UTC+3)\n  let formattedTime = '';\n  if (data.messageTimestamp) {\n    // Timestamp is in seconds, multiply by 1000 for milliseconds\n    const date = new Date(data.messageTimestamp * 1000);\n    // Add 3 hours in milliseconds (3 * 60 * 60 * 1000 = 10800000)\n    const utc3Date = new Date(date.getTime() + 10800000);\n    // Convert to ISO string for consistency\n    formattedTime = utc3Date.toISOString().replace('T', ' ').replace('Z', '');\n  }\n\n  // 4. Construct the Output JSON\n  item.json = {\n    SenderJid: correctJid,\n    SenderName: data.pushName,\n    Timestamp: formattedTime,\n    MsgType: data.messageType,\n    Msg: message.conversation,\n    Media: message.base64, // Will be undefined if not present, which is fine\n    Instance: body.instance,\n    Key: body.apikey,\n    phonenumber: phoneNumber\n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        736
      ],
      "id": "190d8fa4-a77a-418e-9397-f276482fbfc0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6432,
        912
      ],
      "id": "702c87fd-beb5-41f8-910e-a5ee2ab07622",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        5472,
        976
      ],
      "id": "90e3d002-ccba-450d-b187-99ef4e92c191",
      "name": "Sort2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "queue",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "sender_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields13').item.json.platform_user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5280,
        976
      ],
      "id": "366ee4c0-3557-45be-a7d2-7f772f19e5fa",
      "name": "Supabase5",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c4c4875-71b4-4638-b0c5-91eefeec85c5",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "bac0da0b-a426-48fe-8605-937c4a2cb12b",
              "name": "uuid",
              "value": "={{ $('Edit Fields13').first().json.contact_uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3792,
        976
      ],
      "id": "8679314f-0725-43ea-955d-0d94e418afcb",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sender_id",
              "condition": "eq",
              "keyValue": "={{ $json.sender_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6000,
        912
      ],
      "id": "42b2b40b-d03a-4b55-a30c-22f863153e7c",
      "name": "Supabase23",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e2d4eee-1aaf-40d5-a6b4-0e7ee44acd1e",
              "leftValue": "={{ $input.last().json.id }}",
              "rightValue": "={{ $('Edit Fields15').item.json.message_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5696,
        976
      ],
      "id": "1305adbd-f1b5-410f-9d8f-b138c982f521",
      "name": "If23"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      body: $('Aggregate4').first().json.message.join(\"  \") // Directly assign the joined string\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6752,
        928
      ],
      "id": "20ff45de-93c4-43c4-9a45-db50c8290798",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5952,
        1088
      ],
      "id": "c18953d1-d9a5-4567-92e8-6b356b17b64e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "376afef9-9af0-405c-85b6-91f6539740fa",
              "leftValue": "={{ $('Edit Fields13').item.json.ai_enabled }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "84dea79a-cc79-4c05-981c-6c7d5e460bfe",
              "leftValue": "={{ $('Edit Fields').item.json.MsgType }}",
              "rightValue": "imageMessage",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4496,
        960
      ],
      "id": "dc056047-f396-426b-95d9-27f0a0c4f7b7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sender_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.SenderJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5008,
        1264
      ],
      "id": "1cc4fa51-aff5-4b0f-8eed-57bbf5a3a008",
      "name": "Supabase24",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5280,
        1232
      ],
      "id": "d8a26b61-97bb-4a92-af43-4d9fa77c6fd8",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.contact_uuid }}"
            },
            {
              "fieldId": "message_platform_id",
              "fieldValue": "={{ $('Edit Fields').first().json.message_platform_id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "user"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=image"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').item.json.Timestamp }}"
            },
            {
              "fieldId": "attachment_url",
              "fieldValue": "={{ $('Edit Fields5').item.json.publicurl }}"
            },
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3136,
        1296
      ],
      "id": "4234e6ae-1ef0-4df8-993d-04ff13ebab46",
      "name": "Supabase1",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender_id",
              "fieldValue": "={{ $('Edit Fields').item.json.SenderJid }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.text_content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3392,
        1296
      ],
      "id": "e4d95ccf-8efd-4183-a19d-d51a7a086308",
      "name": "Create a row12",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fcb3efb-0672-4e6e-a7df-a530b5bfd86c",
              "name": "publicurl",
              "value": "=https://n8nfiles.asra3.com/{{$binary.data.fileName}}",
              "type": "string"
            },
            {
              "id": "00606ddc-140c-4d3a-9505-370df8f6d4f8",
              "name": "=mime",
              "value": "={{$binary.data.mimeType}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        1296
      ],
      "id": "3de4b7af-e6bb-4222-b158-330d78f66d71",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').first().json.contact_uuid }}"
            },
            {
              "fieldId": "message_platform_id",
              "fieldValue": "={{ $('Edit Fields').first().json.message_platform_id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "user"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=audio"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').item.json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $json.content.parts[0].text }}"
            },
            {
              "fieldId": "attachment_url",
              "fieldValue": "={{ $('Edit Fields3').item.json.publicurl }}"
            },
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3136,
        1088
      ],
      "id": "252c507c-7442-4a1f-8bf4-73560858441b",
      "name": "Supabase",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender_id",
              "fieldValue": "={{ $('Edit Fields').item.json.SenderJid }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.text_content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3312,
        1088
      ],
      "id": "fa1356c0-03eb-436b-b9a0-f8d1f9ccef6d",
      "name": "Create a row10",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fcb3efb-0672-4e6e-a7df-a530b5bfd86c",
              "name": "publicurl",
              "value": "=https://n8nfiles.asra3.com/{{$binary.data.fileName}}",
              "type": "string"
            },
            {
              "id": "00606ddc-140c-4d3a-9505-370df8f6d4f8",
              "name": "mime",
              "value": "={{$binary.data.mimeType}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        1072
      ],
      "id": "6724894c-e96d-47c9-8e60-d30f57ded6d7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  }\n} ",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        1232
      ],
      "id": "0d235fbe-4eff-437e-8d84-b1bb8e50f787",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/mnt/shared_files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2464,
        1280
      ],
      "id": "6b9171b2-548d-4223-88be-2b01793e7e3c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/chat/getBase64FromMediaMessage/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  }\n} ",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        1056
      ],
      "id": "8937520a-bd9d-4130-a9e1-9177da46fd0a",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/mnt/shared_files/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2464,
        1072
      ],
      "id": "cb44512d-30ca-4979-a89d-34e5f6758702",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "text": "trascribe",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2912,
        1072
      ],
      "id": "08c30f34-604d-4f94-a4c7-11037f0916e2",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "Shh4GKlv0Le9SIYA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb6a0ae4-82ef-440a-a16c-c5c162e6c558"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b7653b2-5249-4b5c-a473-597f93f7b80b",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "=create booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b6c630f-f437-4cb4-9e85-068a6c022884",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "product images",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "product images"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc907f8f-6f10-4915-ad4e-f8d05d5f4562",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "testimonials",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "testimonials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        8304,
        880
      ],
      "id": "903d6fe1-ad1e-4612-81c6-68b9d6477da8",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node: Typing Time Calculator\n *\n * This node simulates the time it would take for a human to type a message.\n * It takes an incoming message, counts the characters, and for each character,\n * it calculates a random delay within a specified range.\n *\n * HOW TO USE:\n * 1. Copy and paste this entire code into an n8n \"Code\" node.\n * 2. Make sure the input data for this node has a property containing the message you want to analyze.\n * By default, this code looks for `items[0].json.message`. You may need to change\n * `item.json.message` to match your actual incoming data structure (e.g., `item.json.text`).\n * 3. Adjust the `minTimePerChar` and `maxTimePerChar` variables below to set your desired time range.\n */\n\n// --- Configuration ---\n// Set the minimum time (in milliseconds) it takes to type one character.\nconst minTimePerChar = 20;\n\n// Set the maximum time (in milliseconds) it takes to type one character.\nconst maxTimePerChar = 70;\n// -------------------\n\n// The n8n Code node executes this code for all incoming items.\n// We will loop through each item, perform the calculation, and return it with the new data.\nfor (const item of items) {\n  // Get the message from the incoming item's JSON data.\n  // IMPORTANT: Change 'message' if your field is named something else (e.g., 'text', 'body').\n  // The '|| \"\"' part ensures that if the message field doesn't exist, we use an empty string to avoid errors.\n  const message = $input.first().json.response || '';\n\n  // Get the total number of characters in the message.\n  const characterCount = message.length;\n\n  // Initialize total time to 0.\n  let totalTypingTime = 0;\n\n  // Loop through each character of the message to calculate the time.\n  for (let i = 0; i < characterCount; i++) {\n    // Generate a random typing time for this specific character.\n    // The time will be between minTimePerChar and maxTimePerChar.\n    const randomTimeForChar = Math.random() * (maxTimePerChar - minTimePerChar) + minTimePerChar;\n    \n    // Add this character's time to the total.\n    totalTypingTime += randomTimeForChar;\n  }\n\n  // Add the calculated results to the item's JSON data.\n  // The original data from the item will be preserved.\n  item.json.typingAnalysis = {\n    characterCount: characterCount,\n    // We use Math.round() to get a clean integer value for the total time.\n    calculatedTimeMs: Math.round(totalTypingTime),\n    originalMessage: message,\n  };\n}\n\n// Return all the processed items to be used in the next nodes.\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8784,
        656
      ],
      "id": "2e31609f-90f7-4a01-a35c-631aec235ff1",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node: Typing Time Calculator\n *\n * This node simulates the time it would take for a human to type a message.\n * It takes an incoming message, counts the characters, and for each character,\n * it calculates a random delay within a specified range.\n *\n * HOW TO USE:\n * 1. Copy and paste this entire code into an n8n \"Code\" node.\n * 2. Make sure the input data for this node has a property containing the message you want to analyze.\n * By default, this code looks for `items[0].json.message`. You may need to change\n * `item.json.message` to match your actual incoming data structure (e.g., `item.json.text`).\n * 3. Adjust the `minTimePerChar` and `maxTimePerChar` variables below to set your desired time range.\n */\n\n// --- Configuration ---\n// Set the minimum time (in milliseconds) it takes to type one character.\nconst minTimePerChar = 20;\n\n// Set the maximum time (in milliseconds) it takes to type one character.\nconst maxTimePerChar = 70;\n// -------------------\n\n// The n8n Code node executes this code for all incoming items.\n// We will loop through each item, perform the calculation, and return it with the new data.\nfor (const item of items) {\n  // Get the message from the incoming item's JSON data.\n  // IMPORTANT: Change 'message' if your field is named something else (e.g., 'text', 'body').\n  // The '|| \"\"' part ensures that if the message field doesn't exist, we use an empty string to avoid errors.\n  const message = $input.first().json.response || '';\n\n  // Get the total number of characters in the message.\n  const characterCount = message.length;\n\n  // Initialize total time to 0.\n  let totalTypingTime = 0;\n\n  // Loop through each character of the message to calculate the time.\n  for (let i = 0; i < characterCount; i++) {\n    // Generate a random typing time for this specific character.\n    // The time will be between minTimePerChar and maxTimePerChar.\n    const randomTimeForChar = Math.random() * (maxTimePerChar - minTimePerChar) + minTimePerChar;\n    \n    // Add this character's time to the total.\n    totalTypingTime += randomTimeForChar;\n  }\n\n  // Add the calculated results to the item's JSON data.\n  // The original data from the item will be preserved.\n  item.json.typingAnalysis = {\n    characterCount: characterCount,\n    // We use Math.round() to get a clean integer value for the total time.\n    calculatedTimeMs: Math.round(totalTypingTime),\n    originalMessage: message,\n  };\n}\n\n// Return all the processed items to be used in the next nodes.\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8704,
        1264
      ],
      "id": "3dc64ce3-2e39-404c-ab66-c0c8ff4db301",
      "name": "Code3",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node: Typing Time Calculator\n *\n * This node simulates the time it would take for a human to type a message.\n * It takes an incoming message, counts the characters, and for each character,\n * it calculates a random delay within a specified range.\n *\n * HOW TO USE:\n * 1. Copy and paste this entire code into an n8n \"Code\" node.\n * 2. Make sure the input data for this node has a property containing the message you want to analyze.\n * By default, this code looks for `items[0].json.message`. You may need to change\n * `item.json.message` to match your actual incoming data structure (e.g., `item.json.text`).\n * 3. Adjust the `minTimePerChar` and `maxTimePerChar` variables below to set your desired time range.\n */\n\n// --- Configuration ---\n// Set the minimum time (in milliseconds) it takes to type one character.\nconst minTimePerChar = 20;\n\n// Set the maximum time (in milliseconds) it takes to type one character.\nconst maxTimePerChar = 70;\n// -------------------\n\n// The n8n Code node executes this code for all incoming items.\n// We will loop through each item, perform the calculation, and return it with the new data.\nfor (const item of items) {\n  // Get the message from the incoming item's JSON data.\n  // IMPORTANT: Change 'message' if your field is named something else (e.g., 'text', 'body').\n  // The '|| \"\"' part ensures that if the message field doesn't exist, we use an empty string to avoid errors.\n  const message = $input.first().json.response || '';\n\n  // Get the total number of characters in the message.\n  const characterCount = message.length;\n\n  // Initialize total time to 0.\n  let totalTypingTime = 0;\n\n  // Loop through each character of the message to calculate the time.\n  for (let i = 0; i < characterCount; i++) {\n    // Generate a random typing time for this specific character.\n    // The time will be between minTimePerChar and maxTimePerChar.\n    const randomTimeForChar = Math.random() * (maxTimePerChar - minTimePerChar) + minTimePerChar;\n    \n    // Add this character's time to the total.\n    totalTypingTime += randomTimeForChar;\n  }\n\n  // Add the calculated results to the item's JSON data.\n  // The original data from the item will be preserved.\n  item.json.typingAnalysis = {\n    characterCount: characterCount,\n    // We use Math.round() to get a clean integer value for the total time.\n    calculatedTimeMs: Math.round(totalTypingTime),\n    originalMessage: message,\n  };\n}\n\n// Return all the processed items to be used in the next nodes.\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8784,
        1040
      ],
      "id": "17065915-a5e2-4f19-8ebc-4754ab8436ca",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey",
              "value": "={{ $('Edit Fields').item.json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Edit Fields').item.json.SenderJid }}\",\n    \"text\": \"{{ JSON.stringify($json.response).slice(1, -1) }}\",\n    \"delay\":{{ $json.typingAnalysis.calculatedTimeMs }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9376,
        848
      ],
      "id": "73853ef8-bd60-455c-bb1c-4958cefbb2ec",
      "name": "send txt8"
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code Node: Typing Time Calculator\n *\n * This node simulates the time it would take for a human to type a message.\n * It takes an incoming message, counts the characters, and for each character,\n * it calculates a random delay within a specified range.\n *\n * HOW TO USE:\n * 1. Copy and paste this entire code into an n8n \"Code\" node.\n * 2. Make sure the input data for this node has a property containing the message you want to analyze.\n * By default, this code looks for `items[0].json.message`. You may need to change\n * `item.json.message` to match your actual incoming data structure (e.g., `item.json.text`).\n * 3. Adjust the `minTimePerChar` and `maxTimePerChar` variables below to set your desired time range.\n */\n\n// --- Configuration ---\n// Set the minimum time (in milliseconds) it takes to type one character.\nconst minTimePerChar = 20;\n\n// Set the maximum time (in milliseconds) it takes to type one character.\nconst maxTimePerChar = 70;\n// -------------------\n\n// The n8n Code node executes this code for all incoming items.\n// We will loop through each item, perform the calculation, and return it with the new data.\nfor (const item of items) {\n  // Get the message from the incoming item's JSON data.\n  // IMPORTANT: Change 'message' if your field is named something else (e.g., 'text', 'body').\n  // The '|| \"\"' part ensures that if the message field doesn't exist, we use an empty string to avoid errors.\n  const message = $input.first().json.response || '';\n\n  // Get the total number of characters in the message.\n  const characterCount = message.length;\n\n  // Initialize total time to 0.\n  let totalTypingTime = 0;\n\n  // Loop through each character of the message to calculate the time.\n  for (let i = 0; i < characterCount; i++) {\n    // Generate a random typing time for this specific character.\n    // The time will be between minTimePerChar and maxTimePerChar.\n    const randomTimeForChar = Math.random() * (maxTimePerChar - minTimePerChar) + minTimePerChar;\n    \n    // Add this character's time to the total.\n    totalTypingTime += randomTimeForChar;\n  }\n\n  // Add the calculated results to the item's JSON data.\n  // The original data from the item will be preserved.\n  item.json.typingAnalysis = {\n    characterCount: characterCount,\n    // We use Math.round() to get a clean integer value for the total time.\n    calculatedTimeMs: Math.round(totalTypingTime),\n    originalMessage: message,\n  };\n}\n\n// Return all the processed items to be used in the next nodes.\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9120,
        848
      ],
      "id": "d1edae9a-cff1-4b3f-95fd-174ed84c22f1",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// --- Robust JSON Parser for AI Agent Output ---\n\n// Get the raw string from the 'output' field of the AI Agent node.\nconst rawOutputString = $input.first().json.output;\n\n// 1. Initial validation of the input.\nif (!rawOutputString || typeof rawOutputString !== 'string') {\n  return [{ json: { error: \"Input field 'output' from AI Agent is missing or not a string.\" } }];\n}\n\nlet jsonString = null;\n\n// --- STRATEGY 1: Find a Markdown Code Fence (Most Reliable) ---\n// This regex is improved to handle 3 or more backticks (e.g., ``` or `````).\nconst markdownRegex = /`{3,}(?:json)?\\s*([\\s\\S]*?)\\s*`{3,}/;\nconst markdownMatch = rawOutputString.match(markdownRegex);\n\nif (markdownMatch && markdownMatch[1]) {\n  jsonString = markdownMatch[1].trim();\n}\n\n// --- STRATEGY 2: Fallback to Find First '{' and Last '}' (Less Reliable) ---\n// This runs only if the markdown fence strategy fails. It's useful if the AI\n// forgets the fence but still includes the JSON object within other text.\nif (!jsonString) {\n  const startIndex = rawOutputString.indexOf('{');\n  const endIndex = rawOutputString.lastIndexOf('}');\n\n  if (startIndex > -1 && endIndex > -1 && endIndex > startIndex) {\n    jsonString = rawOutputString.substring(startIndex, endIndex + 1).trim();\n  }\n}\n\n// 2. Check if a potential JSON string was found by either strategy.\nif (!jsonString) {\n  return [{ \n    json: { \n      error: \"Could not find a potential JSON object using markdown or substring search.\",\n      originalOutput: rawOutputString\n    }\n  }];\n}\n\n// 3. Attempt to parse the extracted string.\ntry {\n  const parsedJson = JSON.parse(jsonString);\n  return [{ json: parsedJson }];\n} catch (error) {\n  // If parsing fails, it's often due to unescaped characters like newlines.\n  // We'll try to fix the most common issue (unescaped newlines) and retry.\n  try {\n    const fixedJsonString = jsonString.replace(/\\n/g, '\\\\n');\n    const parsedJson = JSON.parse(fixedJsonString);\n    return [{ json: parsedJson }];\n  } catch (retryError) {\n    // If it still fails, return a detailed error for debugging.\n    return [{ \n      json: {\n        error: \"Failed to parse the JSON string, even after attempting to fix newlines.\",\n        stringThatFailed: jsonString,\n        originalOutput: rawOutputString,\n        errorMessage: retryError.message\n      }\n    }];\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        928
      ],
      "id": "08bc3267-c73b-4f97-9b76-0f0e87b76322",
      "name": "Code in JavaScript2",
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "Booking",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "serviceSummary",
              "fieldValue": "={{ $('Code').item.json.bookingDetails.service }}"
            },
            {
              "fieldId": "channelType",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "bookingDate",
              "fieldValue": "={{ $('Code').item.json.bookingDetails.date }} {{ $('Code').item.json.bookingDetails.time }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9664,
        848
      ],
      "id": "9d760989-fb6b-469f-9038-aed276820081",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "=# Gardenia — Salon Virtual Assistant System Prompt\n\n> **Hybrid Language Policy**: All structural directives, logic, and rules are written in English for clarity and maintainability. All customer-facing example messages and responses remain in their original Arabic to preserve tone and cultural authenticity.\n\n---\n\n## 1. Identity & Persona\n\nYou are **\"Gardenia\" (جاردينيا)**, a virtual assistant for Gardenia Salon. You are bilingual (Arabic & English) but default to Arabic with customers.\n\n### Context Variables\n\n- **Current Date/Time**: {{ $now.setZone('Etc/GMT-3').toISO() }}\n- **Customer Name**: {{ $('Edit Fields').first().json.SenderName }}\n- **Salon Address**: {{ $('Execute a SQL query').first().json.system_settings.salon_address }}\n\n\n---\n\n## 2. JSON Output & Intents\n\nYour final output for every turn **must** be a single JSON object. Do NOT output anything outside the JSON. The `response` field must contain the message in Arabic (unless English is explicitly requested).\n\n```json\n{\n  \"intent\": \"...\",\n  \"response\": \"Your complete message here.\",\n  \"bookingDetails\": {\n    \"service\": \"...\",\n    \"location\": \"المنزل | الصالون\",\n    \"date\": \"YYYY-MM-DD\",\n    \"time\": \"HH:MM AM/PM\",\n    \"name\": \"...\",\n    \"phone\": \"...\",\n    \"area\": \"...\"\n  },\n  \"productIds\": [\"uuid-1\"]\n}\n```\n\n**Field Rules:**\n- **`bookingDetails`**: Include ONLY when `intent` is `create booking`.\n  - `location` → Must be exactly \"Home\" or \"Salon\" based on the service availability and customer's choice.\n  - `date` → `YYYY-MM-DD` format only. Never use words like \"tomorrow\" or \"بكرا\".\n  - `time` → 12-hour `HH:MM AM/PM` format (e.g., `03:00 PM`).\n- **`productIds`**: Include ONLY when `intent` is `product images`.\n\n**Allowed Intents (3 total):**\n\n| Intent | When to Use |\n|---|---|\n| `conversation` | **DEFAULT.** Greetings, pricing, booking info collection, general chat. Use for everything that doesn't match the other two. |\n| `product images` | ONLY when the customer explicitly asks to see images/photos of products. |\n| `create booking` | ONLY after: (1) ALL booking fields are collected, (2) you summarized the details and asked for confirmation, (3) the customer EXPLICITLY confirmed (e.g., \"تمام\", \"أكيد\", \"ماشي\"). |\n\n### Intent Decision Tree\n\n```\n1. Asking to SEE product images?  → intent = \"product images\"\n2. ALL booking fields collected?\n   → NO  → intent = \"conversation\" (keep collecting)\n   → YES → Did I already SUMMARIZE and ask for confirmation?\n           → NO  → intent = \"conversation\" (summarize + ask)\n           → YES → Did customer EXPLICITLY confirm?\n                   → YES → intent = \"create booking\"\n                   → NO  → intent = \"conversation\" (adjust + re-ask)\n3. Everything else → intent = \"conversation\"\n```\n\n---\n\n## 3. Tool Usage (⚠️ Anti-Loop Rules)\n\n> 🛑 **CRITICAL: You have 2 tools. Each tool must be called AT MOST ONCE per conversation turn. If you already have the data from a previous turn, DO NOT call the tool again. Use the information from memory/context.**\n\n### Tool 1: `get all products and services`\n- **When:** Customer asks about available services, products, or prices and you DON'T already have the catalog.\n- **Returns:** List of `{ id, name, price, notes }`.\n- **After calling:** Store the results mentally. Do NOT call this tool again in this conversation unless the customer asks about a completely different topic.\n\n### Tool 2: `get product details by id`\n- **When:** You need the `description` of a SPECIFIC service to check home/salon availability or cutoff times, AND you already have the `id` from Tool 1.\n- **Returns:** `{ name, description, price, images, notes }`.\n- **After calling:** Store the results mentally. Do NOT call this tool again for the same service.\n\n### ⛔ Strict Anti-Loop Rules\n\n1. **NEVER call a tool if you already have the answer** from a previous tool call or from conversation context.\n2. **NEVER call Tool 2 without first having the `id`** from Tool 1.\n3. **Maximum tool calls per turn: 2** (one Tool 1 + one Tool 2). If you already called them, just respond.\n4. If a tool returns an error or empty result, respond to the customer gracefully — do NOT retry.\n5. **If the `notes` field from Tool 1 already answers the customer's question** (e.g., it contains home/salon info or cutoff times), do NOT call Tool 2.\n\n---\n\n## 4. Personality & Language\n\n### Personality Traits\n- Professional, elegant, warm, and calm tone\n- Use exactly **one** emoji per message, chosen from: 🌸 💖 ✨\n- Keep messages concise and direct\n- Never repeat the phrase \"على راسي حبيبتي\"\n- Never use canned or repetitive responses\n\n### Language Rules\n- Accept all Arabic dialects, slang, and typos without correction\n- Respond in the same dialect the customer uses when possible\n- If {{ customer_name }} is available, use it naturally in conversation (e.g., \"أهلاً [name]\")\n\n---\n\n## 5. Greeting Protocol\n\n> **Rule**: Send the greeting message **exactly once** at the start of a new conversation. After that, respond naturally.\n> **Intent**: Always `conversation`.\n\n### Greeting Template\n\n```\nشكرًا لتواصلكِ مع صالون جاردينيا! ✨\nأنا جاردينيا، كيف أقدر أساعدكِ؟\n1️⃣ حجز موعد\n2️⃣ شراء منتجات\n```\n\n### Quick Response Routing\n\n| Customer Intent | Action | JSON Intent |\n|---|---|---|\n| Asks about location/address | Send {{ salon_address }} | `conversation` |\n| Asks about booking | Start the booking flow (§7) | `conversation` |\n| Asks about products | Call Tool 1 (if not already called), list products | `conversation` |\n| Asks to SEE product images | Return product IDs | `product images` |\n| Asks about offers | Share current promotions | `conversation` |\n\n\n---\n\n## 6. Conversation Rules\n\n> **Intent**: Always `conversation` unless the decision tree directs otherwise.\n\n### ✅ DO\n1. Accept all dialects, slang, and typos gracefully\n2. Never collect personal info (name, phone) until service AND date/time are confirmed\n3. Always **ask** which service — never assume\n4. Continue naturally after a booking is submitted\n\n### ❌ DO NOT\n1. Never repeat \"على راسي حبيبتي\"\n2. Never use canned/repetitive responses\n3. Never reply to a sticker or smiley that ends a conversation — silently close\n4. Never evaluate or price customer images (e.g., hair photos) — the specialist handles this\n5. Never offer a time outside operating hours (9:00 AM – 6:00 PM). If customer says 1:00 or 2:00, it's obviously PM — do NOT ask \"morning or evening?\"\n6. If the customer only wants to **confirm an existing booking** (e.g., \"حجزت معكم ع التلفون\"), do NOT restart the booking flow. Collect their name and forward to the team.\n\n### Delayed Response Rule\n\n| Scenario | Action |\n|---|---|\n| Reply within ≤ 12 hours | Continue from where it left off |\n| Reply after > 12 hours | Treat as new conversation |\n\n---\n\n## 7. Booking Flow\n\n> **Intent Logic:**\n> - While collecting info: `conversation`\n> - After ALL fields collected + summarized + customer confirmed: `create booking`\n\n### Step-by-Step Sequence\n\n1. **Service Type** — Always ask. Never assume.\n   > If customer says \"بدي أحجز\" after ANY prior discussion, always ask: \"شو الخدمة اللي حابة تحجزيها؟ 🌸\"\n\n2. **Service Location (Home vs Salon)** — After identifying the service:\n   - Check the service's `notes` or `description` (from Tool 1 or Tool 2) to see if it's available at Home, Salon, or both.\n   - If **both**: Ask \"حبيبتي بدك الخدمة بالصالون ولا بالبيت؟ 🌸\" and set `location` accordingly.\n   - If **salon only**: Set `location` to \"Salon\", inform the customer and proceed.\n   - If **home only**: Set `location` to \"Home\", inform the customer and proceed.\n\n3. **Preferred Day & Date** — If only time is mentioned, ask for the day.\n\n4. **Preferred Time** — Validate against cutoff times from service details.\n\n5. **Full Name**\n\n6. **Phone Number** — Then ask: \"نفس رقم الواتس؟\"\n\n7. **Area/Location** — Required ONLY for home services.\n\n### Step A: Summary & Confirmation (Intent: `conversation`)\n\n> ⛔ When ALL fields are collected, do NOT use `create booking` yet. Summarize and ask for confirmation.\n\n```json\n{\n  \"intent\": \"conversation\",\n  \"response\": \"تمام حبيبتي، خليني أتأكد من التفاصيل 🌸\\n\\nالخدمة: [...]\\nالمكان: [الصالون / البيت]\\nالتاريخ: [...]\\nالوقت: [...]\\nالاسم: [...]\\nالرقم: [...]\\n[المنطقة: ... (للمنزلية فقط)]\\n\\nهل المعلومات صحيحة وبدك أثبت الحجز؟\"\n}\n```\n\n### Step B: Customer Confirms (Intent: `create booking`)\n\n> ⛔ ONLY after explicit confirmation (\"تمام\", \"أي\", \"أكيد\", \"ماشي\", \"yes\").\n\n```json\n{\n  \"intent\": \"create booking\",\n  \"response\": \"تم تثبيت حجزكِ ✅\\nالخدمة: [...]\\nالمكان: [...]\\nالتاريخ: [...]\\nالوقت: [...]\\nالاسم: [...]\\nالرقم: [...]\\nشكرًا لتواصلكِ 💇🏻‍♀️ تحبي تضيفي خدمة تانية؟ ✨\",\n  \"bookingDetails\": {\n    \"service\": \"...\",\n    \"date\": \"YYYY-MM-DD\",\n    \"time\": \"HH:MM AM/PM\",\n    \"name\": \"...\",\n    \"phone\": \"...\",\n    \"area\": \"...\"\n  }\n}\n```\n\n### Special Booking Rules\n\n**Date/Day Conflict:**\nIf stated day doesn't match the date: \"اليوم بختلف عن التاريخ، ممكن تأكيدهم؟ 🌸\"\n\n**Group Home Bookings:**\nCollect name + phone for every individual. Summarize all, then confirm.\n\n**Tuesday Rule:**\n- ❌ No bookings on Tuesdays by default.\n- Response: \"الثلاثاء بزبط، تختاري يوم تاني؟ الحجوزات فيه بتنسيق مسبق 🌸\"\n- If insists: collect (name + phone + time), respond: \"بنقل طلبك للفريق وبيتواصلوا معك 💖\" — Intent stays `conversation`.\n\n---\n\n## 8. Services & Pricing\n\n> **All prices come from the tools.** You have NO hardcoded prices.\n\n1. **Never** volunteer prices unprompted — only share when asked.\n2. If customer asks vaguely \"كم الأسعار؟\": Respond \"لأي خدمة؟ 🌸\"\n3. Always state the price is a **starting price**: \"السعر النهائي يتأكد مع الأخصائية\"\n4. **Cutoff Times**: If the service details mention \"آخر موعد\" and the customer's requested time exceeds it: \"حبيبتي هذا الوقت بعد آخر موعد للخدمة، بقدر أرتّب لك أقرب وقت مناسب إلك 🌸\"\n\n### Categorization\n- **Salon Services**: Haircuts, Hair Dye, Protein, Nails, etc.\n- **Retail Products**: Shampoo, Serum, etc.\n- **Fees**: Transportation (home services) vs Delivery (products) — never confuse them.\n\n---\n\n## 9. Product Images\n\n### Product Images (Intent: `product images`)\nTrigger: \"وريني صور المنتجات\" / \"بدي أشوف المنتجات\" / \"عندكم صور؟\"\n→ Call Tool 1 (if not called yet) to get product IDs, then respond:\n```json\n{\n  \"intent\": \"product images\",\n  \"response\": \"أكيد حبيبتي! هلأ بوريكِ صور المنتجات المتوفرة عنا 💖\",\n  \"productIds\": [\"id-from-tool-1\"]\n}\n```\n\n---\n\n## 10. Adding Services to Existing Booking\n\n| Scenario | Response | Intent |\n|---|---|---|\n| Available as home add-on | \"بضيف لك (...) مع نفس الموعد 🌸 السعر من (...) ويتأكد يوم الموعد\" | `conversation` |\n| Salon-only | \"هاي الخدمة بالصالون فقط، فيكِ تعمليها بموعد ثاني 💖\" | `conversation` |\n\n---\n\n## 11. Image Handling\n\n> ⛔🔺 **Critical Safety Rule — No Exceptions**\n\nIf the customer sends any image (especially hair photos):\n- ❌ Do NOT quote a price\n- ❌ Do NOT evaluate or assess the image\n- ✅ Respond that the specialist will handle the assessment\n- → **Intent: `conversation`**\n\n---\n\n## 12. Few-Shot Examples\n\n**Example 1 — Greeting**\n```json\n{\n  \"intent\": \"conversation\",\n  \"response\": \"شكرًا لتواصلكِ مع صالون جاردينيا! ✨\\nأنا جاردينيا، كيف أقدر أساعدكِ؟\\n1️⃣ حجز موعد\\n2️⃣ شراء منتجات\"\n}\n```\n\n**Example 2 — Asking to See Products**\n```json\n{\n  \"intent\": \"product images\",\n  \"response\": \"أكيد حبيبتي! هلأ بوريكِ صور المنتجات المتوفرة عنا 💖\",\n  \"productIds\": [\"product-uuid-from-tool\"]\n}\n```\n\n**Example 3 — Asking for Prices (Tool 1 already called)**\n```json\n{\n  \"intent\": \"conversation\",\n  \"response\": \"سعر البروتين بيبدأ من [price from tool] 🌸\\nالسعر النهائي يتأكد مع الأخصائية 💖\"\n}\n```\n\n**Example 4 — Summary before confirmation**\n```json\n{\n  \"intent\": \"conversation\",\n  \"response\": \"تمام حبيبتي، خليني أتأكد من التفاصيل 🌸\\n\\nالخدمة: بروتين\\nالمكان: الصالون\\nالتاريخ: الخميس 2026-01-15\\nالوقت: 10:00\\nالاسم: رنا\\nالرقم: 0791234567\\n\\nهل المعلومات صحيحة وبدك أثبت الحجز؟\"\n}\n```\n\n**Example 5 — Customer confirms**\n```json\n{\n  \"intent\": \"create booking\",\n  \"response\": \"تم تثبيت حجزكِ ✅\\nالخدمة: بروتين\\nالمكان: الصالون\\nالتاريخ: الخميس\\nالوقت: 10:00\\nالاسم: رنا\\nالرقم: 0791234567\\nشكرًا لتواصلكِ 💇🏻‍♀️ تحبي تضيفي خدمة تانية؟ ✨\",\n  \"bookingDetails\": {\n    \"service\": \"بروتين\",\n    \"location\": \"Salon\",\n    \"date\": \"2026-01-15\",\n    \"time\": \"10:00 AM\",\n    \"name\": \"رنا\",\n    \"phone\": \"0791234567\",\n    \"area\": \"\"\n  }\n}\n```\n\n---\n\n**CRITICAL NOTES:**\n- NEVER ASSUME OR MENTION PRODUCTS OR SERVICES OR INFORMATION YOU DON'T HAVE.\n- NEVER call a tool more than once for the same data.\n- If a tool fails, respond gracefully — do NOT retry in a loop.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        7424,
        912
      ],
      "id": "a8de5f48-a947-4b50-b769-fc263eec8f73",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "address",
              "fieldValue": "={{ $('Code').item.json.bookingDetails.area }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Code').item.json.bookingDetails.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9888,
        848
      ],
      "id": "4f50ab02-b1d0-4586-a3b0-9bb8567d108b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey",
              "value": "={{ $('Edit Fields').item.json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Edit Fields').item.json.SenderJid }}\",\n    \"text\": \"{{ JSON.stringify($json.response).slice(1, -1) }}\",\n    \"delay\":{{ $json.typingAnalysis.calculatedTimeMs }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9072,
        640
      ],
      "id": "b172897f-9084-479e-aece-b87fb253747b",
      "name": "send txt"
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Code1').item.json.response }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9424,
        640
      ],
      "id": "1b9a7be4-350c-45f2-ae4a-04c6315f31b7",
      "name": "Supabase27",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey",
              "value": "={{ $('Edit Fields').item.json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Edit Fields').item.json.SenderJid }}\",\n    \"text\": \"{{ JSON.stringify($json.response).slice(1, -1) }}\",\n    \"delay\":{{ $json.typingAnalysis.calculatedTimeMs }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9120,
        1264
      ],
      "id": "95a676aa-5108-4558-9e95-98080952df9c",
      "name": "send txt1",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Code3').item.json.response }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9392,
        1264
      ],
      "id": "8886614c-f391-453e-bda8-dadd4e64f0bd",
      "name": "Supabase28",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendMedia/{{ $('Edit Fields').first().json.Instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Edit Fields').first().json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.SenderJid }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "mimetype",
              "value": "image/png"
            },
            {
              "name": "media",
              "value": "={{ $json.imageSets }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10256,
        1264
      ],
      "id": "f789a6cf-9bd3-4ee3-82b4-cfa7ac5b51e2",
      "name": "HTTP Request12",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Input: the JSON you showed (array with one object containing imageSets)\n// Output: normalized array of URLs for the requested imageSetName\n\nconst row = $('Execute a SQL query').first().json; // or $('Get a row').item.json if chaining\nconst imageSetName = $('Code3').first().json.imageSetName;\n\n// Find the matching set\nconst match = row.imageSets.find(set => set.name === imageSetName);\n\n// Return a clean array of URLs\nreturn {\n  imageSets: match ? match.urls : []\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9712,
        1264
      ],
      "id": "bfd41a7f-cdb4-4185-9ada-5dfb9dc61abf",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "imageSets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9920,
        1264
      ],
      "id": "33028caa-6d49-4df9-8ccf-ca475ffcacc0",
      "name": "Split Out",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Code').item.json.response }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10176,
        848
      ],
      "id": "fbcd9b76-2282-4cf2-b277-f9605a9731a9",
      "name": "Supabase26",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=image"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            },
            {
              "fieldId": "attachment_url",
              "fieldValue": "={{ $('Split Out').item.json.imageSets }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10544,
        1264
      ],
      "id": "34eca9f9-1586-4fd7-9b93-3cfcac853abd",
      "name": "Supabase29",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.*,\n  (\n    SELECT json_agg(\n      json_build_object(\n        'id', p.id,\n        'name', p.name,\n        'price', p.price,\n        'images', p.images\n      )\n    )\n    FROM public.\"Product\" p\n    WHERE p.\"isAvailable\" = true\n  ) as active_products,\n  (\n    SELECT json_object_agg(key, value)\n    FROM public.\"SystemSetting\"\n  ) as system_settings\nFROM public.\"Channel\" c\nWHERE c.name = '{{ $json.Instance }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        1200
      ],
      "id": "6239c369-7873-4746-ad9e-f999543559af",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "dH1BI8z5tUb79WG6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey",
              "value": "={{ $('Edit Fields').item.json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Edit Fields').item.json.SenderJid }}\",\n    \"text\": \"{{ JSON.stringify($json.response).slice(1, -1) }}\",\n    \"delay\":{{ $json.typingAnalysis.calculatedTimeMs }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9104,
        1040
      ],
      "id": "6637fde6-33c2-406a-b7ea-608307bce80a",
      "name": "send txt3"
    },
    {
      "parameters": {
        "jsCode": "// Get product IDs from Code4\nconst productIds = $('Code4').first().json.productIds;\n\n// Get all active products from SQL query\nconst activeProducts = $('Execute a SQL query').first().json.active_products;\n\n// Collect matching image links\nlet imageLinks = [];\n\nfor (const id of productIds) {\n  const matches = activeProducts.filter(p => p.id === id);\n  for (const product of matches) {\n    if (product && product.images) {\n      imageLinks.push(...product.images);\n    }\n  }\n}\n\n// Return normalized array of image links\nreturn {\n  productImages: imageLinks\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9664,
        1040
      ],
      "id": "ece6a041-8d04-494c-9d62-0781fe9e57a5",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').item.json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Code4').item.json.response }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9344,
        1040
      ],
      "id": "0dc853c7-5548-4a4c-8412-ade85c8f3730",
      "name": "Supabase30",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendMedia/{{ $('Edit Fields').first().json.Instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Edit Fields').first().json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.SenderJid }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "mimetype",
              "value": "image/png"
            },
            {
              "name": "media",
              "value": "={{ $json.productImages }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10288,
        1056
      ],
      "id": "0399dc02-a711-4c5a-ae16-8688302bf988",
      "name": "HTTP Request13",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query').first().json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "bot"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=image"
            },
            {
              "fieldId": "platform_timestamp",
              "fieldValue": "={{ $('Edit Fields').first().json.Timestamp }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $('Edit Fields13').item.json.id }}"
            },
            {
              "fieldId": "attachment_url",
              "fieldValue": "={{ $('Split Out1').item.json.productImages }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10656,
        1040
      ],
      "id": "386381bb-5f00-4893-81d3-3386806dc796",
      "name": "Supabase31",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "productImages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9936,
        1056
      ],
      "id": "b6a14806-87ba-47ff-b9f2-721d83ed4c02",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "tableId": "Message",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "channel_id",
              "fieldValue": "={{ $('Execute a SQL query1').item.json.id }}"
            },
            {
              "fieldId": "sender_type",
              "fieldValue": "agent"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "text_content",
              "fieldValue": "={{ $('Code in JavaScript').item.json.Msg }}"
            },
            {
              "fieldId": "client_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -48,
        800
      ],
      "id": "dc6d90da-46b6-4b6b-8e45-523555a35b93",
      "name": "Supabase32",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Client",
        "filters": {
          "conditions": [
            {
              "keyName": "platform_user_id",
              "keyValue": "={{ $json.SenderJid || $('Code in JavaScript').item.json.SenderJid }}"
            },
            {
              "keyName": "channel_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        800
      ],
      "id": "206d4d6e-5b6c-4a1c-a5a5-3cc90e66607e",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "use this tool to get all the products with the prices ",
        "url": "https://xehnjefzyvbtaybjszzm.supabase.co/rest/v1/Product",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,name,price,notes"
            },
            {
              "name": "isAvailable",
              "value": "eq.true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlaG5qZWZ6eXZidGF5YmpzenptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA1MzYxMSwiZXhwIjoyMDkyNjI5NjExfQ.oLo938393r-Ql2lmsWY-tZzEv4oR2kH4wv_TtgvYCQU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlaG5qZWZ6eXZidGF5YmpzenptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA1MzYxMSwiZXhwIjoyMDkyNjI5NjExfQ.oLo938393r-Ql2lmsWY-tZzEv4oR2kH4wv_TtgvYCQU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        7408,
        1120
      ],
      "id": "4a75e775-ad77-4a93-8ba6-62a2e0ee90ac",
      "name": "get all products and services1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.*,\n  (\n    SELECT json_agg(\n      json_build_object(\n        'id', p.id,\n        'name', p.name,\n        'price', p.price,\n        'images', p.images\n      )\n    )\n    FROM public.\"Product\" p\n    WHERE p.\"isAvailable\" = true\n  ) as active_products,\n  (\n    SELECT json_object_agg(key, value)\n    FROM public.\"SystemSetting\"\n  ) as system_settings\nFROM public.\"Channel\" c\nWHERE c.name = '{{ $('Webhook').item.json.body.instance || $('Webhook').item.json.body.channel.name }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        672
      ],
      "id": "0fc99572-b307-45a5-ac5e-1519a8f17ac3",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "dH1BI8z5tUb79WG6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50d4a87a-cc92-4afd-abbc-c7f6f702890c",
              "name": "message",
              "value": "=حجز جديد\nنوع الخدمه:{{ $('Code').item.json.bookingDetails.service }}|\nالمكان : {{ $('Code').item.json.bookingDetails.location }}\nالتاريخ:{{ $('Code').item.json.bookingDetails.date }} {{ $('Code').item.json.bookingDetails.time }}\nالاسم:{{ $('Code').item.json.bookingDetails.name }}\nرقم الموبايل:{{ $('Code').item.json.bookingDetails.phone }}\nالعنوان:{{ $('Code').item.json.bookingDetails.area }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10400,
        848
      ],
      "id": "69e74361-6d12-4582-b116-1605a2732bd6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e39658b1-4960-4611-b0f4-33e94ac07810",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2928,
        1168
      ],
      "id": "24e79372-dae5-438c-b5cb-307fc994af6d",
      "name": "Webhook",
      "webhookId": "e39658b1-4960-4611-b0f4-33e94ac07810"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4928,
        720
      ],
      "id": "1706a883-1575-450d-bc23-9d1aecf82838",
      "name": "Wait",
      "webhookId": "147e1a90-39a5-440e-ab1a-2df41f786f83"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7264,
        1232
      ],
      "id": "4d455ea1-2057-4c50-89a7-ba527563da40",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Shh4GKlv0Le9SIYA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7200,
        1136
      ],
      "id": "7a8ad91e-e323-4c53-8348-66ad08e3185a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JtmAWiYGjaSMVTYf",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.hillhousevilla.com/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=apikey",
              "value": "={{ $('Edit Fields').item.json.Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Execute a SQL query').item.json.system_settings.order_notification_whatsapp }}@s.whatsapp.net\",\n    \"text\": \"{{ JSON.stringify($json.message).slice(1, -1) }}\",\n    \"delay\":2000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10672,
        864
      ],
      "id": "97a7dda6-8639-446e-b37a-2e6d597113e8",
      "name": "send txt2"
    },
    {
      "parameters": {
        "toolDescription": "use this tool to get a specific product details by its ID. The input should be the product UUID.",
        "url": "https://xehnjefzyvbtaybjszzm.supabase.co/rest/v1/Product",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "name,description,price,images,notes"
            },
            {
              "name": "id",
              "value": "=eq.{{ $fromAI('product_id', 'The UUID of the product to retrieve') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlaG5qZWZ6eXZidGF5YmpzenptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA1MzYxMSwiZXhwIjoyMDkyNjI5NjExfQ.oLo938393r-Ql2lmsWY-tZzEv4oR2kH4wv_TtgvYCQU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlaG5qZWZ6eXZidGF5YmpzenptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA1MzYxMSwiZXhwIjoyMDkyNjI5NjExfQ.oLo938393r-Ql2lmsWY-tZzEv4oR2kH4wv_TtgvYCQU"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        7584,
        1120
      ],
      "id": "aa8e1471-7c4d-4418-b1d0-0252008e5f4f",
      "name": "get product details by id1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.SenderJid }}",
        "tableName": "saloon2",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        7072,
        1136
      ],
      "id": "4e3906cb-977c-434c-b13e-8a8a125b7b8c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dH1BI8z5tUb79WG6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Set your desired wait time in seconds here\nconst waitTimeSeconds = $('Execute a SQL query').first().json.variables.delay; \n\nreturn new Promise((resolve) => {\n    setTimeout(() => {\n        resolve($input.all()); // $input.all() is the modern n8n way to pass items through\n    }, waitTimeSeconds * 1000); \n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        896
      ],
      "id": "cb5f3e6e-a824-48dc-a27a-037627c70bfe",
      "name": "Wait1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0bf3914-7b62-459b-93aa-4117e52ada61",
              "leftValue": "={{ $('Execute a SQL query').first().json.isActive }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4000,
        976
      ],
      "id": "f02ba0c5-3ff2-4390-af0b-30b60c8906ca",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "sender_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.SenderJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4368,
        1264
      ],
      "id": "0266a0fb-f8d9-4fc6-8401-8508c7fac57d",
      "name": "Supabase34",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "supabaseApi": {
          "id": "gRUDtlyheaGPjedv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4624,
        1264
      ],
      "id": "7298ac38-dc96-4f2b-907d-00a6c852655d",
      "name": "No Operation, do nothing2"
    }
  ],
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "find contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "Supabase20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase20": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find contact": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Supabase25",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase25": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Supabase101",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase102",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "Supabase17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase101": {
      "main": [
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase102": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "Supabase18",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "If23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase5": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase23": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If23": {
      "main": [
        [
          {
            "node": "Supabase23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase24": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Create a row12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row12": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Create a row10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row10": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "send txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "send txt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "send txt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send txt8": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "send txt8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Supabase26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send txt": {
      "main": [
        [
          {
            "node": "Supabase27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase27": {
      "main": [
        []
      ]
    },
    "send txt1": {
      "main": [
        [
          {
            "node": "Supabase28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase28": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Supabase29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase26": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send txt3": {
      "main": [
        [
          {
            "node": "Supabase30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase30": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Supabase31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Supabase32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all products and services1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "send txt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get product details by id1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase34": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Wait": [
      {
        "message_id": "41",
        "uuid": "d23ee298-d4a2-44d5-81b7-bbd36cead024"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8058b24dc6c79b677fbf7b800be0467c500e9187a000f5c5723b31b872437123"
  }
}